*{
    padding: 0;
    margin: 0;
}

.benner{
    background-image: url(../img/1.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}

.banner_text{
    padding: 180px 0  100px 50px;
}

.banner_contant{
    padding: 100px 5px 100px;
}

.b_head{
    margin-top: 300px;
    padding-bottom: 140px;
    text-align: center;
    position: relative;
}




.section1{
    background-image: url(../img/2.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section1_body{
    padding: 200px 10px 200px 100px;
}



.section2{
    background-image: url(../img/3.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section2_body{
    padding: 200px 10px 200px 100px;
}


.section3{
    background-image: url(../img/4.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section3_body{
    padding: 200px 10px 200px 100px;
}


.section4{
    background-image: url(../img/5.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section4_body{
    padding: 200px 10px 200px 100px;
}

.section5{
    background-image: url(../img/6.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section5_body{
    padding: 200px 10px 200px 100px;
}



.section6{
    background-image: url(../img/7.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section6_body{
    padding: 200px 10px 200px 100px;
}


.section7{
    background-image: url(../img/8.png);
    background-position: ; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.section7_body{
    padding: 200px 10px 200px 100px;
}